<header class="main_header w-100">
	<div class="member_area">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-12 col-xs-12 col-sm-2 col-md-2 text-center text-sm-left sociais_header">
					<a target="_blank" href="https://twitter.com/avantipalmeiras/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a target="_blank" href="https://www.facebook.com/avantipalmeiras/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				</div>
	
				<div class="col-12 col-xs-12 col-sm-10 col-md-10 text-center text-sm-right">
					<ul>
						<li>
							<a href="https://socio-palmeiras.futebolcard.com/login">
								<i class="fa fa-lock" aria-hidden="true"></i> Entrar
							</a>
						</li>
						<li><a href="https://socio-palmeiras.futebolcard.com/register"><i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; Associe-se</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="navigation container">
		<div class="row">
			<div class="logo col-md-2 col-sm-6 col-6">
				<a href="https://socio-palmeiras.futebolcard.com">
					<img src="https://socio-palmeiras.futebolcard.com/avanti/img/logo.png" alt="">
				</a>
			</div>
	
			<div class="col-md-10 text-right d-none d-lg-block">
				<nav>
					<ul>
						<li><a href="https://socio-palmeiras.futebolcard.com">Home</a></li>
						<li><a href="https://socio-palmeiras.futebolcard.com/info/program">O Programa</a></li>
						<li><a href="https://socio-palmeiras.futebolcard.com/register">Seja sócio</a></li>
						<li><a href="https://socio-palmeiras.futebolcard.com/info/benefits?category=0">Benefícios</a></li>
						<li><a href="http://www.clubedevantagensavanti.com.br" target="_blank">Clube de Vantagens</a></li>
						<li><a href="http://bit.ly/2YBtckC" target="_blank">Palmeiras Store</a></li>
						<li><a href="http://www.palmeirastour.com.br/" target="_blank">Palmeiras Tour</a></li>
						<li><a href="https://socio-palmeiras.futebolcard.com/customer-service">Atendimento</a></li>
					</ul>
				</nav>
			</div>
	
			<div class="col text-right d-block d-lg-none">
				<a href="#" class="responsive_link menu-btn">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>
</header>