<meta charset="UTF-8"/>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = !properties.title}"/>
     
<section data-sly-test="${properties.image}" class="interna program w-100">
	<header class="topo">
		<h2><strong>${properties.title}</strong></h2>
	</header>

	<div class="container">
		<div class="article intro w-100 pt-0">
			<div class="row">
				<div data-sly-test="${properties.imagePosition == 'left'}" class="col-md-4 col-sm-4 col-xs-12 ico text-center" style="padding-top: 32px;">
					<img src="${properties.image}" class="img-fluid" alt="${properties.imageAlt}">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 text">
					<h2><strong>${properties.subtitle}</strong></h2>
					<div class="text-justify">${properties.description @ context='html'}</div>
				</div>
				<div data-sly-test="${properties.imagePosition == 'right'}" class="col-md-4 col-sm-4 col-xs-12 ico text-center" style="padding-top: 32px;">
					<img src="${properties.image}" class="img-fluid" alt="${properties.imageAlt}">
				</div>
			</div>
		</div>
	</div>
</section>