<meta charset="UTF-8"/>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = !properties.title}"/>
     
<section class="interna program w-100">
	<header class="topo">
		<h2>O Programa</h2>
	</header>

	<div class="container">
		<div class="article intro w-100 pt-0">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 ico text-center">
					<img src="https://socio-palmeiras.futebolcard.com/avanti/img/escudo_palmeiras_2018.png" class="img-fluid" alt="">
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 text">
					<h2>Torcida que canta e vibra!</h2>
					<p><strong>Avanti Palmeiras</strong> é o programa de sócio torcedor da Sociedade Esportiva Palmeiras.
					Estamos aqui desde 2012 para aproximar cada vez mais a torcida que canta e vibra e o maior campeão do Brasil.
					Todo sócio Avanti contribui diretamente para o futebol do Palmeiras e tem acesso a benefícios e descontos.
					Juntos, podemos ir mais longe na busca de novas conquistas.</p>
				</div>
			</div>
		</div>
	</div>
</section>